.avatar {
    margin: 10;
    background-color: #eaeaea;
}
.form {
    width: '100%';
    margin-top: 10px;
}
.submit {
    margin: 0px;
}

.login__button {
    margin-top: 10px;
    text-transform: 'capitalize';
}
.login__field {
    margin-top: 10px !important;
}
.login__field_mb10 {
    margin-top: 10px !important;
    margin-bottom: 10px !important;
}